body {
  background-image: url("http://cs.millersville.edu/~sschwartz/366/HTML_CSS_Lab/Images/background.png");
  margin: 0px 0px 0px 0px;
}

p {
	font-size: 8pt;
	font-family: "Verdana", Verdana, sans-serif;
}

h1 {
	font-size: 24pt;
	font-family: "Tahoma", Tahoma, sans-serif;
	text-align: center;
	text-shadow: 3px 3px #999999;
}

.column_left{
	margin-top: 10px;
	width: 47%;
	float: left;
	margin-left: 2%;
	overflow: hidden;
}

.column_right{
	margin-top: 10px;
	width: 47%;
	float: right;
	margin-right: 2%;
	overflow: hidden;
}

.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	background-image: url("http://cs.millersville.edu/~sschwartz/366/HTML_CSS_Lab/Images/bannerbg.png");
	background-repeat: repeat;
	background-size: cover;
}

.content{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	position: block;
	border-width: 4px;
	border-style: solid;
	border-color: gray;
	border-radius: 20px;
	overflow: hidden;
}
#left-top{
	float: left;
	height:83px;
	width: 100%;
  	font-size: 48pt;
  	font-weight: bold;
  	color: red;
	background-image: url("http://cs.millersville.edu/~sschwartz/366/HTML_CSS_Lab/Images/rbg.png");
	background-repeat: repeat;
	background-size: cover;
}

.left{
	width: 550px;
	float: left;
}

.right{
	width: 250px;
	float: right;
}

.review{
	font-family: "Tahoma", Tahoma, sans-serif;
	background-color: #E8DC9B;
	border-width: 2px;
	border-style: solid;
	border-color: gray;
	border-radius: 10px;
	padding: 5px;
	overflow: hidden;
}

.reviewer_image{
	float: left;
	padding: 5px;
}

.reviewer{
	font-family: "Tahoma", Tahoma, sans-serif;
	font-style: italic;
	margin-bottom: 20px;
}

.validator{
	bottom: 0px;
	right: 0px;
	position: fixed;
}